body {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 0;
    font-family: roboto;    
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 200px;
    padding: 20px;
    border-width: 4px;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px 0;
    background-color: #1F2937; /* guess based on 01.png */
}

.logo {
    padding: 15px;
    font-size: 24px; /* specified by 02.png */
    font-weight: 800;
    color: #F9FAF8; /* specified by 02.png */
}

.links {
    display: flex;
    flex-wrap: nowrap;
    gap: 35px;
}

    /* Remove list-style for all unordered lists */
ul {
    list-style: none;
}

    /* Remove text decoration and set color and font size for all anchor tags */
a {
    font-size: 18px; /* specified by 02.png */
    color: #E5E7EB; /* specified by 02.png */
    text-decoration: none;
}


/* Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;
    padding: 150px 200px 150px;
    color: #F9FAF8; /* specified by 02.png */
    background-color: #1F2937; /* specified by 02.png */
}
    
    /* hero left side */
.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main {
    font-family: inherit;
    font-size: 48px; /* specified by 02.png */
    font-weight: 800;  /* extra bold, specified by 02.png */
    color: #F9FAF8; /* specified by 02.png */
} 
.secondary {
    font-family: inherit;
    font-size: 18px; /* specified by 02.png */
    color: #E5E7EB; /* specified by 02.png */
}

.hero button {
    color: #E5E7EB; /* guess based on 01.png */
    background-color: #3882f6; /* specified by 02.png */
}

    /* hero right side */
.right img {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 850px;
}

/* Information section */
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 200px 140px;
    gap: 40px;
}

h2 {
    display: flex;
    justify-content: center; 
    font-family: inherit;
    font-size: 36px; /* specified by 02.png */
    font-weight: 800; /* extra bold; specified by 02.png */
    color: #1F2937; /* specified by 02.png */
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 55px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.item img {
    height: auto;
    width: 250px;
    border: 10px solid rgb(56, 130, 246); /* guess based on 01.png */
    border-radius: 15px;
}

.information .text {
    max-width: 259px;
    font-family: inherit;
    font-size: 22px;
    text-align: center;
}


/* Quote section */
.quote {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 150px;
    background-color: #E5E7EB; /* specified by 02.png */
}

.quote .text,
.attribution {
    display: flex;
    color: #1F2937; /* guess based on 01.png */
}

.quote .text {
    font-family: "light italic";
    font-style: italic; /* specified by 02.png */
    font-size: 36px; /* specified by 02.png */
}

.attribution {
    margin-left: 300px;
    font-weight: 700;
    font-size: 25px;
}

/* Newsletter section */
div .newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 150px;
    margin: 200px 300px;
    color: #f9faf8; /* guess based on 01.png */
    border-radius: 12px;
    background-color: #3882f6; /* specified by 02.png */
}
.newsletter .body {
    display: flex;
    flex-direction: column;
}

.newsletter .title {
    font-family: roboto;
    font-size: 30px;
    font-weight: 600;
}

.newsletter .text {
    font-size: 22px;
}

.newsletter .sign-up {
    color: rgb(249, 250, 248);
    background-color: rgb(56, 130, 246); /* specified by 02.png */
    border-color: rgb(249, 250, 248); /* guess based on 01.png */
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #F9FAF8; /* guess based on 01.png */
    background-color: #1F2937; /* specified by 02.png */
}