body {
    font-family: roboto;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}


/* Quote section */
.quote {
    display: flex;
    background-color: #E5E7EB;
    padding: 150px;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 25px;
}

.quote .text,
.attribution {
    display: flex;
    color: #1F2937;
}

.quote .text {
    font-family: "light italic";
    font-size: 36px;
    font-style: italic;
}

.attribution {
    font-weight: 700;
    font-size: 25px;
    margin-left: 300px;;
}


/* Newsletter section */
div .newsletter {
    display: flex;
    background-color: rgb(56, 130, 246);
    color: rgb(249, 250, 248);
    justify-content: space-between;
    align-items: center;
    padding: 75px 150px;
    margin: 200px 300px;
    border-radius: 12px;
}
.newsletter .body {
    display: flex;
    flex-direction: column;
}

.newsletter .header {
    font-family: roboto;
    font-size: 30px;
    font-weight: 600;
}

.newsletter .text {
    font-size: 22px;
}

.newsletter .sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 130, 246);
    color: rgb(249, 250, 248);
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 190px;
    border-color: rgb(249, 250, 248);
    border-width: 4px;
    padding: 11px 15px;
    border-radius: 10px;
}